# Node modules
node_modules/

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files
.env

# System files
.DS_Store
Thumbs.db

# Uploads
uploads

# IDE-specific files
.vscode/
*.swp

# Dist folder (if you build your project)
dist/
build/
